.slider-div button{
    position: absolute;
    top: 80%;
    left:50%;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   
    cursor: pointer;
}

